{% extends "base.html" %}

{% load static %}

{% block title %}
   index
{% endblock title %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
          <a href="{{ item.link }}"> {{ item.item }}</a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
   <h1 align="center">Welcome to Book Exchange!</h1>
    {% if user.is_authenticated %}
      <p>Thank you for using our book exchange system.</p>
      <p>Feel free to look around!</p>
    {% else %}
      <p> Please login to gain access to books!</p>
      <a href="{% url 'login' %}?next=/">Login</a>
    {% endif %}
{% endblock content %}